services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8300:3000"
    command: npm start
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8080/api

  backend:
    container_name: backend
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8301:8080"
    command: npm start

